@model HattrickPSK.Models.User
@{
    ViewBag.Title = "Forgot password?";
    Layout = null;
}


@using (Html.BeginForm("ForgottenPassword", "Login", FormMethod.Post))
{ 
    <legend>Enter mail to send password</legend>


        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Email)</td>
                <td>@Html.TextBoxFor(a => a.Email)</td>
                <td>@Html.ValidationMessageFor(a => a.Email)</td>
            </tr>
          
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Send password"    />
                </td>

                <td>
                    <input type="button" value="Back to login" onclick="window.location.assign('/Login/index')" />
                </td>
                
            </tr>
        </table>
   
}