
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/RegistrationController.js"></script>
  
</head>
<body>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div data-ng-app="myApp" data-ng-controller="registrationCtrl">
        <div class="container">
            <h2 class="col-sm-offset-2">Registration</h2>
            <form name="Form" class="form-horizontal">

                <br />

                <div class="form-group">
                    <label class="control-label col-sm-2">Firstname:</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="user.firstname" required class="form-control" id="firstname" placeholder="Enter firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Lastname:</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="user.lastname" required class="form-control" id="lastname" placeholder="Enter lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" data-ng-model="user.password" required class="form-control" id="password" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Balance:</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="user.balance" required class="form-control" id="balance" placeholder="Enter balance">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="user.email" required class="form-control" id="email" placeholder="Enter email">

                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="user.username" required class="form-control" id="firstname" placeholder="Enter username">
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button class="btn btn-primary" value="Save" name="btnSave" ng-click="savedata(user)" ng-disabled="Form.$invalid || (Form.balance<10000 || Form.balance>0)"> Save </button>
                        <button class="btn btn-secondary" value="Back to login" onclick="window.location.assign('/Login/index')">Back to login </button>
                    </div>
                </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
