
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/RegistrationController.js"></script>


    <div data-ng-app="myApp" data-ng-controller="registrationCtrl">
        <div class="container">
            <h2>Registration</h2>
            <form name="Form">
                First name:<input type="text" name="firstname" placeholder="Enter first name" data-ng-model="user.firstname" required />
                <span ng-show="Form.firstname.$touched&& Form.firstname.$invalid">The first name is required.</span>
                <br />
                <br />
                Last name:<input type="text" name="lastname" placeholder="Enter last name" data-ng-model="user.lastname" required /><br />
                <span ng-show="Form.lastname.$touched&& Form.lastname.$invalid">The last name is required.</span>
                <br />
                <br />
                <p>
                    Username:<input type="text" name="username" placeholder="Enter username" data-ng-model="user.username" required /><br />
                    <span ng-show="Form.username.$touched && Form.username.$invalid">The username is required.</span>
                </p>
                <p>
                    Password:<input type="password" name="password" placeholder="Enter passworde" data-ng-model="user.password" required /><br />
                    <span ng-show="Form.password.$touched && Form.password.$invalid">The password is required.</span>
                </p>
                <p>
                    Balance:<input type="number" name="balance" placeholder="Enter balancee (<10000)" data-ng-model="user.balance" required /><br />
                    <span ng-show="Form.balance.$touched && Form.balance.$invalid">The balance amount is required.</span>
                </p>

                <br />
                Email:<input type="email" placeholder="Enter email" name="email" data-ng-model="user.email" required />

                <span ng-show="Form.email.$touched && Form.email.$invalid ">The email is required.</span>
                <span ng-show="Form.email.$touched && Form.email.$error.email">Invalid email address.</span>

                <br />
                <br/>
                <br />
                <input type="button" class="registerbtn" value="Save" name="btnSave" ng-click="savedata(user)" ng-disabled="Form.$invalid || (Form.balance<10000 || Form.balance>0)" />&emsp;
                <input type="button" value="Back to login" onclick="window.location.assign('/Login/index')" />

            </form>


        </div>
       
    </div>
</body>
</html>
